
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0E0E0E;
   
    box-shadow: 0 0 2px rgba(141, 116, 116, 0.575) inset;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0E0E0E;
    border-radius: 4px;
    border: 3px   #685e5e;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-right-style:none;
    border-top-style:dashed;
   
  }
  
  ::-webkit-scrollbar-thumb:hover {
    //  background-color: #939393;
     background-color: opacify($color: #0E0E0E, $amount: 1);
    border: 3px #DC56C5;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-right-style:none;
    border-top-style:dashed;
  }