:root {
    --main-text-color: #0E0E0E;
    --light-text-color: #FFFFFF;
    --blurry-text-color: #939393;
    --accent-text-color: #DC56C5;
    --second-accent-color: #4C00FE;
    --dark-bg-color: #262626;
    --bg-input: rgba(255, 255, 255, 0.2);

    --main-font: 'Montserrat', sans-serif;
}