:root {
  --main-text-color: #0e0e0e;
  --light-text-color: #ffffff;
  --blurry-text-color: #939393;
  --accent-text-color: #dc56c5;
  --second-accent-color: #4c00fe;
  --dark-bg-color: #262626;
  --bg-input: rgba(255, 255, 255, 0.2);

  --main-font: "Montserrat", sans-serif;
  --duration: 1000ms;
}
