<section>
  <div class="container">
    <div class="auth-buttons">
      <button class="auth-btn" id="auth-btn">
        <svg class="auth-icon" width="20" height="20">
          <use
            class="icon-auth-on is-open"
            href="./images/svg/sprits.svg#icon-user-plus"
          ></use>
          <use
            class="icon-auth-done"
            href="./images/svg/sprits.svg#icon-user-check"
          ></use>
        </svg>
      </button>
      <button class="signin-btn" id="signin-btn">
        <svg class="signin-icon" width="20" height="20">
          <use
            class="icon-signIn-on is-open"
            href="./images/svg/sprits.svg#icon-enter"
          ></use>
          <use
            class="icon-signIn-done"
            href="./images/svg/sprits.svg#icon-checkmark2"
          ></use>
        </svg>
      </button>
    </div>

    <div class="auth">
      <div class="auth-container">
        <h2 class="title">Log in</h2>
        <form class="form">
          <label class="form-label">
            <span class="label-text">Email</span>
            <input
              type="email"
              class="email"
              name="email"
              placeholder="mango@mail.com"
              required
              minlength="3"
              autocomplete="off"
            />
          </label>

          <label class="form-label">
            <span class="label-text">Password</span>
            <input
              type="password"
              class="password"
              name="mail"
              placeholder="123456"
              required
              autocomplete="off"
            />
          </label>

          <button class="submit" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="signIn">
      <div class="signIn-container">
        <h2 class="title">Sign in</h2>
        <form class="form">
          <label class="form-label">
            <span class="label-text">Email</span>
            <input
              type="email"
              class="email"
              name="email"
              placeholder="mango@mail.com"
              required
              minlength="3"
              autocomplete="off"
            />
          </label>

          <label class="form-label">
            <span class="label-text">Password</span>
            <input
              type="password"
              class="password"
              name="mail"
              placeholder="123456"
              required
              autocomplete="off"
            />
          </label>

          <button class="submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
