<header>
    <div class="conteiner">
        <button class="auth-btn" id="auth-btn">Log in</button>
        <button class="sign-in" id="sign-in">Sign in</button>

        <div class="form-auth">

            <form class="form">
                <label class="form-label">
                  <span class="label-text">Email</span>
                  <input type="email" class="email" name="email" required minlength="3">
                </label>
              
                <label class="form-label">
                  <span class="label-text">Password</span>
                  <input type="password" class="password" name="mail" required>
                </label>
              
                <button class="submit" type="submit">Submit</button>
              </form>
        </div>
    </div>
    