<footer>
  <div class="container">
    <div class="footer__section">
      <div class="footer__section-container">
        <p class="copirigt footer__text">© 2021 | All Rights Reserved |</p>
        <p class="developers footer__text">
          Developed with <span class="heart-icon">♥</span> by GoIT Students
        </p>
      </div>
    </div>
    <div class="footer__modal">
      <div class="footer__modal-container">
        <ul class="list footer__modal-list owl-carousel owl-theme" id="slider">
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/nina.jpeg" alt="Nina" />
            </div>
            <h2 class="footer__modal-title">Antoniuk Nina</h2>
            <p class="footer__modal-text">
              Team lead
              <span class="icon">💁🏻‍♀️</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/tat.JPG" alt="Tetiana" />
            </div>
            <h2 class="footer__modal-title">Kalinichenko Tetiana</h2>
            <p class="footer__modal-text">
              Scrum master
              <span class="icon">🦄</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/alex.png" alt="Alex" />
            </div>
            <h2 class="footer__modal-title">Oleksandr Demydchuk</h2>
            <p class="footer__modal-text">
              <span class="icon">🦹🏼‍♂️</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/den.jpg" alt="Denys" />
            </div>
            <h2 class="footer__modal-title">Denys Hruzdiev</h2>
            <p class="footer__modal-text">
              <span class="icon">🦸🏼‍♂️</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/dima.jpg" alt="Dima" />
            </div>
            <h2 class="footer__modal-title">Dmitrii Burkovskui</h2>
            <p class="footer__modal-text">
              <span class="icon">🎅🏻</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/ivan.jpg" alt="Ivan" />
            </div>
            <h2 class="footer__modal-title">Ivan Mamaiev</h2>
            <p class="footer__modal-text">
              <span class="icon">🧛🏼</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/rost.jpg" alt="" />
            </div>
            <h2 class="footer__modal-title">Rostyslav Pobidynskyi</h2>
            <p class="footer__modal-text">
              <span class="icon">👨🏻‍🎤</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/serg.jpg" alt="" />
            </div>
            <h2 class="footer__modal-title">Sergey Gulaga</h2>
            <p class="footer__modal-text">
              <span class="icon">🕺🏻</span>
            </p>
          </li>
          <li class="item slide footer__modal-item">
            <div class="footer__modal-image">
              <img class="img" src="./images/students/evg.jpg" alt="" />
            </div>
            <h2 class="footer__modal-title">Evgen Bryzgun</h2>
            <p class="footer__modal-text">
              <span class="icon">👨🏻‍💻</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
