<header class="header">
  <a class="logo" href="./index.html">
    <img class="logo-img" src="./images/svg/logo-text.svg" alt="logo" />
  </a>

  <div class="container header-container">
    <h1 class="title">
      FIND BEST EVENTS <br />
      AROUND THE WORLD
    </h1>
    <form class="search-form" id="search-form-js">
      <div class="input">
        <input
          id="customer-input-js"
          class="input-search"
          type="text"
          name="search"
          autocomplete="off"
          placeholder="Start searching"
        />
        <button class="search-btn" type="button"> 
          <svg class="input-icon">
            <use href="./images/svg/sprits.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <div class="input choose-country-js">
        <select id="country-select-js" class="input-search select" type="text">
          <option class="select__item" value="">Choose country</option>
        </select>
        <button class=" search-btn" type="button">
            <svg class="input-icon" id="country-select-svg">
              <use href="./images/svg/sprits.svg#icon-select"></use>
            </svg>
        </button>

      </div>
    </form>
  </div>
</header>
