<header class="header">
  <a class="logo" href="./index.html">
    <img class="logo-img" src="./images/svg/logo-text.svg" alt="logo" />
  </a>

  <div class="container header-container">
    <h1 class="title">
      FIND BEST EVENTS <br />
      AROUND THE WORLD
    </h1>
    <form class="search-form" id="search-form-js">
      <div class="input">
        <input
          id="customer-input-js"
          class="input-search"
          type="text"
          name="search"
          autocomplete="off"
          autofocus
          pattern="^[а-яА-ЯёЁa-zA-Z]+$"
          placeholder="Start searching"
        />
        <svg class="input-icon">
          <use href="./images/svg/sprits.svg#icon-search"></use>
        </svg>
      </div>
      <div class="input">
        <select id="country-select-js" class="input-search" type="text">
          <option value="">Choose country</option>
        </select>
        <svg class="input-icon" id="country-select-svg">
          <use href="./images/svg/sprits.svg#icon-select"></use>
        </svg>
      </div>
    </form>
  </div>
</header>
