<header class="header header-logo">
    <div class="title-form">
        <h1 class="title">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>
    <form class="search-form" id="search-form">
        <div class="input">
            <input class="input-search"
                type="text"
                name="query" 
                autocomplete="off" 
                autofocus
                placeholder="Start searching" />
        </div>
        <div class="input">
            <input class="input-search"
                type="text"
                name="query" 
                autocomplete="off" 
                placeholder="Choose country" />
        </div>
    </form>
</header>