<div class="backdrop" id="backdrop" data-modal-backdrop>
  <div class="modal">
    <button class="modal__btn-close" type="button" data-modal-close>
      <svg class="icon modal__icon" width="25" height="25">
        <use href="./images/svg/sprits.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__author-img"></div>
    <div class="modal__position">
      <div class="modal__poster-container">
      </div>
      <div class="modal__info">
        <ul class="list modal__list">
          <li>
            <span class="modal__info-title">Info</span>
            <p class="modal__info-text">
              Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will
              create a proper music festival atmosphere on 10 stages
            </p>
          </li>
          <li>
            <span class="modal__info-title">When</span>
            <p class="modal__info-text"></p>
          </li>
          <li>
            <span class="modal__info-title">Where</span>
            <p class="modal__info-text"></p>
          </li>
          <li>
            <span class="modal__info-title">Who</span>
            <p class="modal__info-text"></p>
          </li>
          <li>
            <span class="modal__info-title">Prices</span>
            <p class="modal__info-text"></p>
            <button class="modal__btn modal__btn-buy" type="button">Buy tickets</button>
            <p class="modal__info-text"></p>
            <button class="modal__btn modal__btn-buy" type="button">Buy tickets</button>
          </li>
        </ul>
      </div>
    </div>
    <button class="modal__btn modal__btn-more" type="button">More from this author</button>
  </div>
</div>