
.footer__section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  
  color: var(--blurry-text-color);

  @media screen and (max-width: 767px) {
    padding-left: auto;
    padding-right: auto;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__text {
  display: flex;
  justify-content: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--main-text-color);
}
.heart-icon {
  padding-left: 6px;
  padding-right: 5px;
  padding-bottom: 0;
  font-size: 25px;
  color: #d40000;
  -webkit-animation: animateScale 1700ms infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: animateScale 1700ms infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__section-container:hover,
.footer__section-container:focus {
  color: var(--light-text-color);
  & .heart-icon {
    -webkit-animation: animateScale 500ms infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation: animateScale 500ms infinite cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.developers {
  padding-left: 4px;
}

@-webkit-keyframes animateScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    color: red;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    color: red;
  }

  100% {
    transform: scale(1);
  }
}

.footer__modal{
  display: none;
}
.footer__modal.is-open{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-input);
  text-align: center;
  padding-top: 40px;
    & .footer__modal-container{
      width: 270px;
      height: 400px;
        background-color: var(--dark-bg-color);
        margin-left: calc((100% - 270px) / 2);
        border-radius: 20px;
      @media screen and (min-width: 768px){
        width: 700px;
        margin-left: calc((100% - 700px) / 2);
      }
      
    }
}
