.form-auth.is-open {
    display: block;
    position: fixed;
    width: 450px;
    height: 300px;
    top: 50px;
    left: calc((100% - 450px) / 2);
    background-color: var(--blurry-text-color);
}
.form-auth {
    display: none;
}

.form-singIn {
    position: fixed;
    width: 450px;
    height: 300px;
    top: 50px;
    left: calc((100% - 450px) / 2);
    background-color: var(--blurry-text-color);
}