.header {
  position: relative;
  width: 100%;
  padding-bottom: 55px;

  @media screen and (min-width: 768px) {
    padding-bottom: 125px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 135px;
  }
}

.header::before {
  content: "";
  position: absolute;
  width: 105px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/header/mobile/logo.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/logo@2px.png);
  }

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: url(../images/header/tablet/logo.png);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/logo@2px.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 238px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../images/header/desktop/logo.png);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/logo@2px.png);
    }
  }
}

.header-container {
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
}

.title {
  margin-bottom: 52px;

  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: start; //
  }
}

.input {
  position: relative;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin: 0 30px 0 0;
  }
}

.input:last-child {
  margin: 0;
}

.input-search {
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 20px;
  background: var(--bg-input);
  color: var(--blurry-text-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-search:focus {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;

  &:hover,
  &:focus {
    outline-offset: 3px;
  }
}

.input-icon {
  width: 12px;
  height: 12px;
  fill: #939393;
}

// .countries-backdrop {
//   &.is-hidden {
//     display: none;
//   }

//   & {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 100;
//     width: 100%;
//     height: 210px;
//     padding-top: 47px;
//     overflow: hidden;
//     border-radius: 20px;
//     -webkit-backdrop-filter: blur(20px);
//     backdrop-filter: blur(20px);
//     color: #cccccc;
//     background-color: rgba(255, 255, 255, 0.2);
//   }
// }

// .countries-list {
//   width: 100%;
//   height: 160px;
//   overflow-y: scroll;
//   font-size: 16px;
//   line-height: 20px;
//   border-radius: 0 0 20px 20px;
//   text-indent: 30px;

//   &::before {
//     content: "Choose country";
//     color: inherit;
//     position: absolute;
//     top: 10px;
//     left: 0;
//     width: 80%;
//     text-indent: 0;
//     margin-left: 30px;
//     padding-bottom: 10px;
//     border-bottom: 1px solid gray;
//   }
// }

// .close-list-btn {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   z-index: 500;
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
// }

// .countries-list__item-radio::-webkit-input-placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   color: var(--blurry-text-color);
// }

// .countries-list__item-radio::-moz-placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   background: var(--bg-input);
//   color: var(--blurry-text-color);
// }

// .countries-list__item-radio:-ms-input-placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   background: var(--bg-input);
//   color: var(--blurry-text-color);
// }

// .countries-list__item-radio::-ms-input-placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   background: var(--bg-input);
//   color: var(--blurry-text-color);
// }

// .countries-list__item-radio::placeholder {
//   font-size: 16px;
//   line-height: 1.25;
//   background: var(--bg-input);
//   color: var(--blurry-text-color);
// }

.counties-list__item {
  display: block;
  cursor: pointer;
  margin-bottom: 4px;

  &:hover {
    background-color: var(--accent-text-color);
  }

  .countries-list__item-radio:checked + & {
    background-color: var(--accent-text-color);
  }
}

// .countries-list__item-radio {
//   position: absolute;
//   width: 0;
//   height: 0;
// }
