.header {
  position: relative;
  width: 100%;
  padding-bottom: 55px;

  @media screen and (min-width: 768px) {
    padding-bottom: 125px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 135px;
  }
}

.header::before {
  content: "";
  position: absolute;
  width: 105px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/header/mobile/logo.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/logo@2px.png);
  }

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: url(../images/header/tablet/logo.png);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/logo@2px.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 238px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../images/header/desktop/logo.png);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/logo@2px.png);
    }
  }
}

.title {
  margin-bottom: 52px;

  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: start; //
  }
}

.input {
  position: relative;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin: 0 30px 0 0;
  }
}

.input:last-child {
  margin: 0;
}

.input-search {
  width: 270px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;

  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  background: var(--bg-input);
  color: var(--blurry-text-color);
  --webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-search:focus {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  // transition: fill 0.1s linear;

  &:hover,
  &:focus {
    outline-offset: 3px;
  }
}

.input-icon {
  width: 12px;
  height: 12px;
  transition: fill 0.1s linear;
}

// Plugin Select

.select {
  width: 100%;
  position: relative;

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }
  }

  &__input {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
  }

  .open &__input {
    border-radius: 25px 25px 0 0;
  }

  .open &__input::after {
    content: "";
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0px;
    height: 1px;
    background: var(--blurry-text-color);
  }

  &__dropdown {
    display: none;
    position: absolute;
    padding-top: 5px;
    padding-left: 0px;
    left: 0;
    right: 0;
    height: 210px;
    overflow-y: auto;
    border-radius: 0px 0px 25px 25px;
  }

  &__dropdown::-webkit-scrollbar {
    width: 3px;
  }

  &__dropdown::-webkit-scrollbar-track {
    border-width: 0;
    background-color: var(--bg-input);
    backdrop-filter: blur(20px);
  }

  &__dropdown::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    background: var(--blurry-text-color);
    border-radius: 20px;

    background-image: url(../images/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__dropdown::-webkit-scrollbar-thumb:hover {
    background: var(--blurry-text-color);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    height: 25px;
    padding-left: 30px;
    align-items: center;
    color: #cccccc;

    &.selected {
      background-color: var(--accent-text-color);
    }

    &:hover,
    &:focus {
      background-color: var(--accent-text-color);
      cursor: pointer;
      transition: 0.15s background-color ease-in;
    }
  }
}
